<app-button label="Range" (click)="range()" type="button" class="submitButton sizes m-1 float-right">
</app-button>
<app-button label="Input Group" (click)="inputGroup()" type="button" class="submitButton sizes m-1 float-right">
</app-button>
<app-button label="Floating Label" (click)="floatingLabel()" type="button" class="submitButton sizes m-1 float-right">
</app-button>
<app-button label="Table" (click)="Table()" type="button" class="submitButton sizes m-1 float-right">
</app-button>
<app-button label="Button" (click)="button()" type="button" class="submitButton sizes m-1 float-right">
</app-button>
<app-button label="LogOut" (click)="logOut()" type="button" class="submitButton sizes m-1 float-right">